.landingbody {
  font-family: 'Arial', sans-serif;
  background-image: url('/imgs/LandingPageBackground.jpg'); /* Add the path to your background image */
  background-size: cover;
  background-position: center;
  color: #fff; /* Set text color to contrast with the background */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landingcontainer {
  max-width: 600px;
  margin: auto;
}


.landingbtn {
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 10px;
}


body {
  font-family: 'Arial', sans-serif;
  background-image: url('/imgs/LandingPageBackground.jpg'); 
  background-size: cover;
  background-position: center;
  color: #fff; 
}

.table {
   width: auto;
  margin: 0px auto;
  padding: 5px;
}

#deleteModal .modal-body,
#deleteModal .modal-title {
  color: black;
}

.info-icon {
  font-size: 14px;
  color: #999;
  margin-left: 5px;
  cursor: pointer;
}

.info-icon:hover {
  color: #333;
}

.form-group.col-mb-3 .align-text-start {
  text-align: left !important;
}

.slider {
         
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.login-container {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #000000;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
}

.form-check-label {
  color: #000000;
}

.login-button {
  font-size: 1.2em;
  padding: 15px 30px;
  margin-top: 20px;
}

.register-button a {
  color: #c51414;
}







